<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ChangeResolution" value="http://192.168.178.28:9999/changeResolution" />
    <add key="GetResolutions" value="http://192.168.178.28:9999/getResolutions" />
    <add key="WpfStream" value="http://192.168.178.28:9999/wpfStream" />
  </appSettings>
</configuration>